@model IEnumerable<Sport_E.Controllers.NotificationBase>
@section Styles {
    <link href="@Url.Content("~/Content/unreadnotifications.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewBag.Title = "New Notifications";
}

<h2>New Notifications</h2>

<div class="form-actions no-color">
    @Html.ActionLink("All Notifications", "Index")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ToEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedByEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Read)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedByEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangeDate)
        </td>
        <td>
            @Html.ActionLink("Mark Read", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
